---
import Layout from "../layouts/Layout.astro";
import IndexBackground from "../components/IndexBackground.astro";
import RecentPosts from "../components/RecentPosts.astro";
---

<Layout title="Introduction">
	<div class="big-text-container">
		<h1 id="big-text" class="index-header ibm-plex-sans-regular">
			steken
		</h1>
		<h1 id="big-text-2" class="index-header ibm-plex-sans-regular">
			.dev
		</h1>
	</div>
	<div id="background" class="background">
		<IndexBackground />
		<div class="index-card">
			<div class="index-card-contents">
				<h2>steken.dev</h2>
				<h1>this is stefan's personal website</h1>
				<h3>
					<em>ste</em>fan <em>ken</em>ichiro nowak, specifically – hopefully that's the Stefan you were looking for. 
				</h3>
				<h4>
					stefan is a software engineer with over a half-decade of
					experience working with london-ey tech-y companies big and
					small. <br /> <i style="opacity: 0.3; font-size: 1.2rem;">
						so far, he has yet to bring down production for any
						more than a few hours at any one time.</i
					>
					<br />
					stefan lives with his partner, harriet, and their son, cassius,
					in south-west london, uk 🇬🇧
				</h4>

				<h3><u>introduction</u></h3>
				<p>
					<b>Hey there!</b>
				</p>
				<p>
					I'm Stefan–father of a small, brand-new human; pretty
					alright software engineer; barely-functional caffiene
					addict; overly-enthusiastic tech nerd;
					<a href="https://www.youtube.com/watch?v=Mt8uLveDY24"
						>midnight gourmand</a
					>;
					<a
						href="https://trakt.tv/users/commonalpaca/ratings/all/all/rating/asc"
						>armchair film critic</a
					> and much more.
				</p>
				<p>
					This is a little website built using the <a
						href="https://astro.build/">Astro</a
					> framework as a public home for my thoughts and projects.
				</p>

				<h3><u> what you'll find here </u></h3>
				<p>
					⚠️ <i>This site is a continuous work in progress as I learn to work
					with Astro. Expect things to break all the time!</i>
				</p>
				<p>
					Expect to find a mix of blog posts, project
					write-ups, and other random musings. If you're looking to
					hire a software engineer, you can check out the <a
						href="/work">work</a
					> page for more information about me, and to see if I might be
					a good fit for your team. For now, you can read all my rambling
					over on the <a href="/posts">posts</a> page, or see some of my
					recent posts below.
				</p>
				<RecentPosts />
			</div>
		</div>
	</div>
</Layout>

<style>
	.index-header {
		text-align: center;
		margin-top: 2rem;
		position: absolute;
		display: block;
		text-align: left;
		margin: 0rem 0rem 0rem -4rem;
		font-size: 32rem;
		position: fixed;
	}
	.index-card {
		display: flex;
		flex-direction: column;
		max-width: 1140px;
		margin: auto;
		border-radius: 1rem;
		z-index: 1;
	}
	.index-card-contents {
		border-radius: 1rem;
		position: relative;
		background: #e8e8e89c;
		margin: -10rem 38rem 0rem 0rem;
		padding: 12rem 2rem 2rem 2rem;
		box-shadow: 0 0 50px -16px #7474748d;
		z-index: 2;
	}
	@media screen and (max-width: 1200px) {
		.index-card-contents {
			margin: 6rem 20rem 0rem 10rem;
			padding: 2rem;
		}
	}
	@media screen and (max-width: 900px) {
		.index-card-contents {
			margin: 22rem 0rem 0rem 0rem;
			padding: 2rem;
		}
	}
	@media screen and (max-width: 600px) {
		.index-card-contents {
			margin: 33rem 0rem 0rem 0rem;
			padding: 2rem;
		}
	}
	html.dark > body > div > div > div.index-card-contents {
		background: #16161640;
		box-shadow: 0 0 50px -16px #000000c2;
	}
	.index-card-contents:before {
		content: "";
		pointer-events: none;
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
		top: 0px;
		left: 0px;
		backdrop-filter: blur(32px);
		-webkit-backdrop-filter: blur(32px);
		border-radius: 1rem;
		z-index: -1;
	}
	.big-text-container {
		position: absolute;
		top: -6rem;
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: block;
		z-index: -1;
		color: #0800ff;
	}
	#big-text {
		letter-spacing: 8px;
		font-weight: 500;
		color: #3448ff;
	}
	#big-text-2 {
		letter-spacing: 64px;
		margin: 11rem 0rem 0rem 2rem;
		font-weight: 400;
		font-size: 38rem;
		font-style: italic;
	}
</style>
