---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Introduction">
	<div id="background" class="background">
		<pre>
                                                         .,,uod8B8bou,,.
                                             ..,uod8BBBBBBBBBBBBBBBBRPFT?l!i:.
                                        ,=m8BBBBBBBBBBBBBBBRPFT?!||||||||||||||
                                        !...:!TVBBBRPFT||||||||||!!^^""'   ||||
                                        !.......:!?|||||!!^^""'            ||||
                                        !.........||||                     ||||
                                        !.........||||                     ||||
                                        !.........||||                     ||||
                                        !.........||||                     ||||
                                        !.........||||                     ||||
                                        !.........||||                     ||||
                               ┌───┐_____`........||||                    ,||||
                            ┌─ │__.│..uoo.;.......||||              __.-!!|||||
                            ┌─.┘...,uodWBBBBb.....||||       _.-|||||||||||!:'
                         .,uoo~~ !YBBBBBBBBBBBBBBb..!|||:|||!!|||||||!iof68BBBBBb....
                     ..,uoo~~~   !..YBBBBBBBBBBBBBBb!!||||||||!iof68BBBBBBRPFT?!::   `.
                ..,uoo~~~~~      !....YBBBBBBBBBBBBBBbaaitf68BBBBBBRPFT?!:::::::::     `.
           ..,uoo~~~~~           !......YBBBBBBBBBBBBBBBBBBBRPFT?!::::::;:!^"`;:::       `.
       ..,uoo~~~~"               !........YBBBBBBBBBBRPFT?!::::::::::^'' ..::::::;         iBBbo.
  ..,uoo~~~~"                    ...........YPFT?!::::::::::::::::::::::::;iof68bo.        WBBBBbo.
.,u~~~~~~             ,###,      `..........:::::::::::::::::::::::;iof688888888888b.      `YBBBP^'
~~~               ,#BBBBBB8b.      `........::::::::::::::::;iof688888888888888888888b.      `
               "BBBBB"BBBB"""#       `......:::::::::;iof688888888888888888888888888888b.
          #BBBBB B:BBB::BB BB"8b.      `....:::;iof688888888888888888888888888888888899fT!
       ##"B:"B:BBB:::::-BBBBB B"8b.      `..::!8888888888888888888888888888888899fT|!^"'
        `!!8BB:::::`B:BBBBB:BBBBBB8b.      `' !!988888888888888888888888899fT|!^"'
         `!!8BBBB:BBBBB:::::BBB:BBB"8b.        `!!8888888888888888899fT|!^"'
           `!!8   ::::::::BBBBBB  BBB"8b.        `!988888888899fT|!^"'
             `!!8BB ,BB:BBB:`b BB:BBBB"B8b.        `!9899fT|!^"'
               `!!8 BBBBB::B:::::BBBBBB  B8b.        `!^"'
            _    `!!8B ::::::B BB:B  B"fT|!^"
            *Bb.   `!!8 BBBBBBBBB"fT|!^"'
              *Bb.   `!!8 ::BBfT|!^"'
                *Bb.   `!!8|!^"'
                  *Bb.   ""
                    *Bb.
</pre>
		<span id="screentext">hello world</span>
		<span id="screentext2">-PRESS 'G' FOR SNAKE-</span>
		<span id="flashing">_</span>
		<span id="game"></span>
	</div>
	<div class="title-bg">
		<div id="bg-content"></div>
	</div>
	<main class="wrapper">
		<section>
			<h1 id="intro-title" class="animated">hello.</h1>
			<h3 id="intro-subtitle" class="animated">welcome to my website.</h3>
		</section>
		<section>
			<h3 class="animated"><u>about</u></h3>
			<p>
				In erat elit, molestie in vari vel, consectetur id elit. Nullam
				urna velit, molestie idassa sed, consectetur facilisis dolor.
				Cras convallis ex a vel laoreet maximus. Etiam felis diam,
				condimentum vitae urna et, pulvinar elementum nulla. Proin ut
				dictum mauris. Vivamumattis eget ante vel blandit. Nulla aliquet
				libero vehicula ctor condimentum.
			</p>
			<blockquote cite="https://www.huxl.net/bnw/four.html">
				<p>
					Words can be like X-rays, you use them properly—they’ll go
					through anything. You read and you’re pierced.
				</p>
				<footer>—Aldous Huxley, <cite>Brave New World</cite></footer>
			</blockquote>
		</section>
		<section>
			<h3 class="animated"><u>more text here</u></h3>
			<p>
				In erat elit, molestie in vari vel, consectetur id elit. Nullam
				urna velit, molestie idassa sed, consectetur facilisis dolor.
				Cras convallis ex a vel laoreet maximus. Etiam felis diam,
				condimentum vitae urna et, pulvinar elementum nulla. Proin ut
				dictum mauris. Vivamumattis eget ante vel blandit. Nulla aliquet
				libero vehicula ctor condimentum. Quisque felis arcu, placerat a
				porta et, intdum pharetra purus. Nam in iaculis lorem. Aenean
				accumsanodio ut efficitur iaculis, nibh ex dictum velit, ut
				lacinia lom metus bibendum augue. Aenean leo quam, pellentesque
				vel efficitur nec, pharetra id neque. Morbi mattis, nibh sit
				amet sodales imperdiet, erat sem laoreet odio, ut pretium nulla
				enim ut mauris. Vivamus in fringilla neque, et laoreet mauris.
				Donec sed auctor neque. Morbi vitae viverra purus. Quisque
				mollis augue laoreet, fringilla nisi nec, rutrum lacus.
			</p>
		</section>
		<section>
			<h3 class="animated"><u>how was this site made?</u></h3>
			<p>
				In erat elit, molestie in varius vel, consectetur id elit.
				Nullam urna velit, molestie id massa sed, consectetur facilisis
				dolor. Cras convallis ex a velit laoreet maximus. Etiam felis
				diam, condimentum vitae urna eget, pulvinar elementum nulla.
				Proin ut dictum mauris. Vivamus mattis eget ante vel blandit.
				Nulla aliquet libero vehicula auctor condimentum. Quisque felis
				arcu, placerat a porta et, interdum pharetra purus. Nam in
				iaculis lorem. Aenean accumsan, odio ut efficitur iaculis, nibh
				ex dictum velit, ut lacinia lorem metus bibendum augue. Aenean
				leo quam, pellentesque vel efficitur nec, pharetra id neque.
				Morbi mattis, nibh sit amet sodales imperdiet, erat sem laoreet
				odio, ut pretium nulla enim ut mauris. Vivamus in fringilla
				neque, et laoreet mauris. Donec sed auctor neque. Morbi vitae
				viverra purus. Quisque mollis augue laoreet, fringilla nisi nec,
				rutrum lacus.
			</p>
		</section>
	</main>
</Layout>

<style>
	#intro-title {
		margin-top: -18rem;
		font-family: Times New Roman;
		letter-spacing: -4px;
		font-size: clamp(5.6rem, 5vw, 6.8rem);
		color: #001fcc;
	}
	#intro-subtitle {
		font-family: Times New Roman;
		letter-spacing: -1.66px;
		font-weight: 100;
		font-size: 2.6rem;
		color: #001fcc;
	}
	.title-bg {
		position: relative;
		height: 70vh;
		width: 100%;
		overflow: hidden;
		left: 0px;
		top: 0px;
		pointer-events: none;

		@media (max-width: 850px) {
			left: 0px;
		}

		#bg-content {
			position: absolute;
			width: 66rem;
			height: 25rem;
			left: 0px;
			mix-blend-mode: color-burn;
			transform: skew(332deg, 336deg) scaleY(1.9);
			background-image: radial-gradient(
					at 67% 151%,
					hsl(268.33deg 34% 9.4% / 32%) 0px,
					transparent 8%
				),
				radial-gradient(
					at 73% 51%,
					hsl(328.57deg 89% 80% / 69%) -39px,
					transparent 21%
				),
				radial-gradient(
					at 55% 79%,
					hsl(192.01deg 100% 50% / 47%) 11px,
					transparent 38%
				),
				radial-gradient(
					at 48% 58%,
					hsla(329, 67%, 66%, 1) 26px,
					transparent 51%
				),
				radial-gradient(
					at 60% 65%,
					hsl(224deg 100% 50%) 73px,
					transparent 44%
				),
				radial-gradient(
					at 43% 91%,
					hsl(245deg 100% 50% / 52%) 16px,
					transparent 57%
				),
				radial-gradient(
					at 66% 95%,
					hsla(271, 69%, 76%, 1) 19px,
					transparent 35%
				);
			border-radius: 21px;
			mask-image: radial-gradient(
				ellipse 120% 140% at 15% 96%,
				black 20%,
				transparent 60%
			);
			filter: hue-rotate(-6deg) contrast(2.9);
			@media (max-width: 650px) {
				height: 15rem;
			}
		}
	}
	html.dark > body > .title-bg > #bg-content {
		mix-blend-mode: plus-lighter;
	}
	html.dark > body > main.wrapper > section > #intro-title {
		color: #ffffff;
	}
	html.dark > body > main.wrapper > section > #intro-subtitle {
		color: #ffffff;
	}
	.background {
		position: fixed;
		z-index: -1;
		right: 14vw;
		top: 3rem;
		@media (max-width: 700px) {
			top: 28px;
			right: 0px;
		}
		@media (min-width: 1200px) {
			right: 25vw;
		}
		pre {
			font-family: monospace;
			font-size: 0.5rem;
			font-weight: 900;
			margin-left: 22px;
			line-height: 10.2px;
			opacity: 0;
			-webkit-text-stroke: medium;
		}
		#screentext {
			font-family: monospace;
			font-size: 0.5rem;
			font-weight: 900;
			position: absolute;
			top: 56px;
			left: 289px;
			transform: skew(0deg, -15deg);
			opacity: 0;
		}
		#flashing {
			font-family: monospace;
			font-size: 0.5rem;
			font-weight: 900;
			position: absolute;
			top: 47px;
			left: 344px;
			transform: skew(0deg, -15deg);
		}
	}
	}
</style>
