---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import helloWorldImage from "../assets/hello_world.jpeg";
import athensImage from "../assets/athens.jpeg";
---

<Layout title="Introduction">
	<div id="background" class="background">
		<pre>
                                                         .,,uod8B8bou,,.
                                             ..,uod8BBBBBBBBBBBBBBBBRPFT?l!i:.
                                        ,=m8BBBBBBBBBBBBBBBRPFT?!||||||||||||||
                                        !...:!TVBBBRPFT||||||||||!!^^""'   ||||
                                        !.......:!?|||||!!^^""'            ||||
                                        !.........||||                     ||||
                                        !.........||||                     ||||
                                        !.........||||                     ||||
                                        !.........||||                     ||||
                                        !.........||||                     ||||
                                        !.........||||                     ||||
                               ┌───┐_____`........||||                    ,||||
                            ┌─ │__.│..uoo.;.......||||              __.-!!|||||
                            ┌─.┘...,uodWBBBBb.....||||       _.-|||||||||||!:'
                         .,uoo~~ !YBBBBBBBBBBBBBBb..!|||:|||!!|||||||!iof68BBBBBb....
                     ..,uoo~~~   !..YBBBBBBBBBBBBBBb!!||||||||!iof68BBBBBBRPFT?!::   `.
                ..,uoo~~~~~      !....YBBBBBBBBBBBBBBbaaitf68BBBBBBRPFT?!:::::::::     `.
           ..,uoo~~~~~           !......YBBBBBBBBBBBBBBBBBBBRPFT?!::::::;:!^"`;:::       `.
       ..,uoo~~~~"               !........YBBBBBBBBBBRPFT?!::::::::::^'' ..::::::;         iBBbo.
  ..,uoo~~~~"                    ...........YPFT?!::::::::::::::::::::::::;iof68bo.        WBBBBbo.
.,u~~~~~~             ,###,      `..........:::::::::::::::::::::::;iof688888888888b.      `YBBBP^'
~~~               ,#BBBBBB8b.      `........::::::::::::::::;iof688888888888888888888b.      `
               "BBBBB"BBBB"""#       `......:::::::::;iof688888888888888888888888888888b.
          #BBBBB B:BBB::BB BB"8b.      `....:::;iof688888888888888888888888888888888899fT!
       ##"B:"B:BBB:::::-BBBBB B"8b.      `..::!8888888888888888888888888888888899fT|!^"'
        `!!8BB:::::`B:BBBBB:BBBBBB8b.      `' !!988888888888888888888888899fT|!^"'
         `!!8BBBB:BBBBB:::::BBB:BBB"8b.        `!!8888888888888888899fT|!^"'
           `!!8   ::::::::BBBBBB  BBB"8b.        `!988888888899fT|!^"'
             `!!8BB ,BB:BBB:`b BB:BBBB"B8b.        `!9899fT|!^"'
               `!!8 BBBBB::B:::::BBBBBB  B8b.        `!^"'
            _    `!!8B ::::::B BB:B  B"fT|!^"
            *Bb.   `!!8 BBBBBBBBB"fT|!^"'
              *Bb.   `!!8 ::BBfT|!^"'
                *Bb.   `!!8|!^"'
                  *Bb.   ""
                    *Bb.
</pre>
		<span id="screentext">hello world</span>
		<span id="screentext2">-> PRESS 'G' <-</span>
		<span id="flashing">_</span>
		<span id="game"></span>
	</div>
	<div class="title-bg">
		<div id="bg-content"></div>
		<div id="bg-content-shape1"></div>
	</div>
	<main class="wrapper">
		<section>
			<h1 id="intro-title">hello.</h1>
			<h3 id="intro-subtitle">welcome to my website.</h3>
		</section>
		<section>
			<h3 class="animated"><u>about</u></h3>
			<p>
				In erat elit, molestie in vari vel, consectetur id elit. Nullam
				urna velit, molestie idassa sed, consectetur facilisis dolor.
				Cras convallis ex a vel laoreet maximus. Etiam felis diam,
				condimentum vitae urna et, pulvinar elementum nulla. Proin ut
				dictum mauris. Vivamumattis eget ante vel blandit. Nulla aliquet
				libero vehicula ctor condimentum.
			</p>
			<blockquote cite="https://www.huxl.net/bnw/four.html">
				<p>
					Words can be like X-rays, you use them properly—they’ll go
					through anything. You read and you’re pierced.
				</p>
				<footer>—Aldous Huxley, <cite>Brave New World</cite></footer>
			</blockquote>
		</section>
		<section>
			<h3 class="animated"><u>more text here</u></h3>
			<p>
				In erat elit, molestie in vari vel, consectetur id elit. Nullam
				urna velit, molestie idassa sed, consectetur facilisis dolor.
				Cras convallis ex a vel laoreet maximus. Etiam felis diam,
				condimentum vitae urna et, pulvinar elementum nulla. Proin ut
				dictum mauris. Vivamumattis eget ante vel blandit. Nulla aliquet
				libero vehicula ctor condimentum. Quisque felis arcu, placerat a
				porta et, intdum pharetra purus. Nam in iaculis lorem. Aenean
				accumsanodio ut efficitur iaculis, nibh ex dictum velit, ut
				lacinia lom metus bibendum augue. Aenean leo quam, pellentesque
				vel efficitur nec, pharetra id neque. Morbi mattis, nibh sit
				amet sodales imperdiet, erat sem laoreet odio, ut pretium nulla
				enim ut mauris. Vivamus in fringilla neque, et laoreet mauris.
				Donec sed auctor neque. Morbi vitae viverra purus. Quisque
				mollis augue laoreet, fringilla nisi nec, rutrum lacus.
			</p>
		</section>
		<section>
			<h3 class="animated"><u>how was this site made?</u></h3>
			<p>
				In erat elit, molestie in varius vel, consectetur id elit.
				Nullam urna velit, molestie id massa sed, consectetur facilisis
				dolor. Cras convallis ex a velit laoreet maximus. Etiam felis
				diam, condimentum vitae urna eget, pulvinar elementum nulla.
				Proin ut dictum mauris. Vivamus mattis eget ante vel blandit.
				Nulla aliquet libero vehicula auctor condimentum. Quisque felis
				arcu, placerat a porta et, interdum pharetra purus. Nam in
				iaculis lorem. Aenean accumsan, odio ut efficitur iaculis, nibh
				ex dictum velit, ut lacinia lorem metus bibendum augue. Aenean
				leo quam, pellentesque vel efficitur nec, pharetra id neque.
				Morbi mattis, nibh sit amet sodales imperdiet, erat sem laoreet
				odio, ut pretium nulla enim ut mauris. Vivamus in fringilla
				neque, et laoreet mauris. Donec sed auctor neque. Morbi vitae
				viverra purus. Quisque mollis augue laoreet, fringilla nisi nec,
				rutrum lacus.
			</p>
		</section>
	</main>
</Layout>

<style>
	#intro-title {
		margin-top: -80%;
		font-family: Times New Roman;
		letter-spacing: -4px;
		font-size: clamp(4.6rem, 5vw, 6.8rem);
		color: #001fcc;
		display: block;
		transform: translateX(-60px);
		opacity: 0;
	}
	#intro-subtitle {
		font-family: Times New Roman;
		letter-spacing: -1.66px;
		font-weight: 100;
		font-size: 2.3rem;
		color: #001fcc;
		display: block;
		transform: translateX(-60px);
		opacity: 0;
	}
	.title-bg {
		position: relative;
		height: 110vh;
		width: 100%;
		overflow: hidden;
		left: 0px;
		top: 0px;
		pointer-events: none;

		mask-image: radial-gradient(
			ellipse 270% 110% at 55% 108%,
			black 50%,
			transparent 110%
		);
		z-index: -1;

		@media (max-width: 850px) {
			left: 0px;
		}

		#bg-content {
			position: absolute;
			width: 66rem;
			height: 25rem;
			left: 0px;
			border-radius: 120px;
			z-index: -2;

			transform: skew(24deg, 321deg) scaleY(2.1);
			filter: hue-rotate(236deg) contrast(1) brightness(1.6) blur(64px);
			background-size: 100% 100%;
			background-position:
				0px 0px,
				0px 0px,
				0px 0px,
				0px 0px,
				0px 0px;
			background-image: radial-gradient(
					49% 81% at 45% 47%,
					#ffe20345 0%,
					#073aff00 100%
				),
				radial-gradient(
					113% 91% at 17% -2%,
					#ff5a00ff 1%,
					#ff000000 99%
				),
				radial-gradient(142% 91% at 83% 7%, #ffdb00ff 1%, #ff000000 99%),
				radial-gradient(
					142% 91% at -6% 74%,
					#ff0049ff 1%,
					#ff000000 99%
				),
				radial-gradient(
					142% 91% at 111% 84%,
					#ff7000ff 0%,
					#ff0000ff 100%
				);

			@media (max-width: 650px) {
				height: 12rem;
			}
		}
		#bg-content-shape1 {
			position: absolute;
			width: 66rem;
			height: 25rem;
			left: 0px;
			border-radius: 120px;
			z-index: -1;
			background-size: 100% 100%;
			background-position: 0px 0px;
			opacity: 0.5;
			background-image: conic-gradient(
				from 0deg at 31% 57%,
				#6effd3ff 0%,
				#0807ffff 100%
			);
			mask-image: radial-gradient(
				ellipse 60% 100% at 35% 96%,
				black 20%,
				transparent 90%
			);
			transform: skew(24deg, 321deg) scaleY(2.1);
		}
	}
	html.dark > body > .title-bg > #bg-content {
		filter: hue-rotate(236deg) contrast(3.5) brightness(0.6) blur(64px);
	}
	html.dark > body > main.wrapper > section > #intro-title {
		color: #ffffff;
	}
	html.dark > body > main.wrapper > section > #intro-subtitle {
		color: #ffffff;
	}
	.background {
		position: fixed;
		z-index: -1;
		right: 14vw;
		top: 3rem;
		@media (max-width: 700px) {
			top: 10rem;
			right: 0px;
		}
		@media (min-width: 1200px) {
			right: 25vw;
			scale: 1.42;
			top: 12rem;
		}
		pre {
			font-family: monospace;
			font-size: 0.5rem;
			font-weight: 900;
			margin-left: 22px;
			line-height: 10.2px;
			opacity: 0;
		}
		#screentext {
			font-family: monospace;
			font-size: 0.5rem;
			font-weight: 900;
			position: absolute;
			top: 56px;
			left: 289px;
			transform: skew(0deg, -15deg);
			opacity: 0;
		}
		#screentext2 {
			font-family: monospace;
			font-size: 0.4rem;
			font-weight: 900;
			position: absolute;
			top: 113px;
			left: 290px;
			transform: skew(0deg, -15deg);
			opacity: 0;
		}
		#flashing {
			font-family: monospace;
			font-size: 0.5rem;
			font-weight: 900;
			position: absolute;
			top: 47px;
			left: 344px;
			transform: skew(0deg, -15deg);
		}
		#game {
			font-family: monospace;
			font-size: 0.5rem;
			font-weight: 900;
			position: absolute;
			top: 52px;
			left: 289px;
			transform: skew(0deg, -15deg);
			width: 90px;
			line-height: 1;
			letter-spacing: 0.01px;
		}
	}
	blockquote {
		padding-left: 1em;
		border-width: 2px;
		border-left-style: solid;
	}
	.animated {
		display: block;
		transform: translateX(-60px);
		opacity: 0;
	}
	.sub-main-titles {
		position: relative;
		bottom: 6rem;
	}
	.index-intro-image {
		-webkit-transition: all 3s ease;
		-moz-transition: all 3s ease;
		-ms-transition: all 3s ease;
		-o-transition: all 3s ease;
		opacity: 0;
		filter: grayscale(1);
		mask-image: radial-gradient(
			ellipse 210% 160% at 53% 53%,
			black 26%,
			transparent 55%
		);
		border-radius: 12px;
	}
	.footnotes {
		margin: 8rem 0px 2rem 0px;
	}
</style>

<script>
	import { inView, scroll, animate } from "motion";

	function setupAnimations() {
		inView("#bg-content", ({ target }) => {
			animate(
				// @ts-ignore
				target,
				{
					backgroundSize: ["600px", "1800px"],
					// rotate: ["60deg", "0deg", "60deg"],
					backgroundPositionX: ["0px", "1000px"],
					// width: ["66rem", "120rem"],
					// skewX: ["330deg", "332deg"],
					// skewY: ["330deg", "336deg"],
					// scale: ["1.4", "1.8"],
				},
				{ duration: 10, repeat: Infinity, direction: "alternate" },
			);
		});

	}

	// hook animations up to View Transitions via after-swap lifecycle hook
	document.addEventListener("astro:page-load", () => {
		if (window.location.pathname === "/") {
			setupAnimations();
		}
	});

	setupAnimations();
</script>

<script>
	const gameElem = document.getElementById("game");
	const screenText = document.getElementById("screentext");
	const screenText2 = document.getElementById("screentext2");
	const flashingBit = document.getElementById("flashing");
	const snake = "0";
	const food = ".";
	const lineText = "██████████████████ ";

	let gameStarted = false;
	let grid = lineText.repeat(4) + "█USE█WASD█TO█MOVE█ " + lineText.repeat(4);
	let position = 0;
	let posArr: Array<number> = [];
	let foodPosition = -1;
	let snakeLen = 12;
	let snakeSpeed = 600;
	let playerMoveInterval = null;
	let currentDirectionKey = "";

	function setCharAt(str: string, index: number, chr: string) {
		if (index > str.length - 1) return str;
		grid = str.substring(0, index) + chr + str.substring(index + 1);
		return grid;
	}

	function updateSnakePosition(pos: number) {
		posArr.push(position);
		position = position + pos;

		if (!(foodPosition === position)) {
			posArr.push(position);
		}
		grid = lineText.repeat(9);
	}

	function getNewFoodPos() {
		let newFoodPos = Math.floor(Math.random() * 17 * 9);
		const currSnake = posArr.reverse().slice(0, snakeLen + 1);
		while ((newFoodPos + 1) % 19 === 0 || currSnake.includes(newFoodPos)) {
			newFoodPos = Math.floor(Math.random() * 17 * 9);
		}
		return newFoodPos;
	}

	function handleDirectionKey(key: string) {
		currentDirectionKey = key;

		if (key == "w") {
			if (0 <= position && position <= 17) {
				updateSnakePosition(152);
				return;
			}
			updateSnakePosition(-19);
		}
		if (key == "s") {
			if (position >= 152) {
				updateSnakePosition(-152);
				return;
			}
			updateSnakePosition(19);
		}
		if (key == "a") {
			if (position % 19 === 0) {
				updateSnakePosition(17);
				return;
			}
			updateSnakePosition(-1);
		}
		if (key == "d") {
			if ((position + 2) % 19 === 0) {
				updateSnakePosition(-17);
				return;
			}
			updateSnakePosition(1);
		}
	}

	function keyDownHandler(e: KeyboardEvent, user = true) {
		if (e.key !== "g" && !gameStarted) {
			return;
		}

		if (!gameStarted) {
			gameStarted = true;
			foodPosition = getNewFoodPos();
			screenText!.style.display = "none";
			screenText2!.style.display = "none";
			flashingBit!.style.display = "none";
			gameElem!.style.display = "block";
			grid = lineText.repeat(4) + "█USE█WASD█TO█MOVE█ " + lineText.repeat(4);
			posArr = [];
			position = 0;
			foodPosition = 0;
			snakeLen = 12;
			snakeSpeed = 600;
		}

		if (currentDirectionKey === e.key && user) {
			return;
		}

		if (playerMoveInterval!) {
			clearInterval(playerMoveInterval);
		}

		playerMoveInterval = setInterval(
			keyDownHandler,
			snakeSpeed,
			new KeyboardEvent("keydown", { key: e.key }),
			false,
		);

		handleDirectionKey(e.key);

		const currSnake = posArr.reverse().slice(0, snakeLen + 1);

		currSnake.forEach((pos) => {
			gameElem!.innerHTML = setCharAt(grid, pos, snake);
		});
		gameElem!.innerHTML = setCharAt(grid, foodPosition, food);

		if (foodPosition === position) {
			posArr.push(position);
			gameElem!.innerHTML = setCharAt(grid, foodPosition, snake);
			snakeLen++;
			snakeSpeed = snakeSpeed / 1.1;
			foodPosition = getNewFoodPos();
			gameElem!.innerHTML = setCharAt(grid, foodPosition, food);
		}

		if (
			gameStarted &&
			position !== 0 &&
			currSnake.slice(1).includes(position)
		) {
			gameElem!.style.display = "none";
			screenText!.innerHTML = "YOU LOSE :(";
			screenText!.style.display = "block";
			screenText2!.style.display = "block";
			flashingBit!.style.display = "block";
			gameStarted = false;
		}
	}

	document.addEventListener("astro:page-load", () => {
		if (window.location.pathname === "/") {
			window.addEventListener("keydown", (e) => keyDownHandler(e));
		}
	});

	window.addEventListener("keydown", (e) => keyDownHandler(e));
</script>
