---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Links";
---

<Layout title={pageTitle}>
	<section>
		<h1 id="page-title" class="animated">links</h1>
	</section>
	<main class="wrapper">
		<section>
			<h2 class="animated">summary</h2>
			<p>
				Here are cool links found around the web. Often through
				hackernews. Think of it as a pinboard of cool web stuff!
			</p>
		</section>
	</main>

	<script>
		import { inView, animate } from "motion";

		function setupAnimations() {
			inView("section", ({ target }) => {
				if (target.querySelector(".animated")) {
					animate(
						// @ts-ignore
						target.querySelector(".animated"),
						{ opacity: 1, transform: "none" },
						{
							delay: 0.2,
							duration: 0.8,
							easing: [0.17, 0.55, 0.55, 1],
						},
					);
				}
			});
		}

		// hook animations up to View Transitions via after-swap lifecycle hook
		document.addEventListener("astro:page-load", () => {
			setupAnimations();
		});

		setupAnimations();
	</script>

	<style>
		main {
			margin-top: 9rem;
		}
		div.grid {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 2rem;
			margin: 4rem 0;

			@media (max-width: 850px) {
				grid-template-columns: 1fr;
			}

			.link-box {
				grid-column: span 1;
				padding: 1rem;
				border: 1px solid var(--color-primary);
				border-radius: 0.5rem;
				margin: 0.3rem 0;
				background: linear-gradient(
					45deg,
					#000cff80 -11%,
					transparent 82%
				);
				transition: all 0.3s ease;
				&:hover {
					transform: scale(1.05);
				}
			}
		}
	</style>
</Layout>
