---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import stefanImage from "../assets/stefan.jpg";
const pageTitle = "Résumé/CV";
---

<Layout title={pageTitle}>
	<div class="background">
		<div id="bg-content"></div>
		<div id="bg-cv-content-shape1"></div>
		<div id="bg-cv-content-shape2"></div>
	</div>
	<div>
		<Image
			src={stefanImage}
			alt="A picture of me"
			class="full-bleed work-intro-image"
			onload="this.style.opacity=1; this.style.filter='grayscale(0)'"
		/>
	</div>
	<section>
		<h1 id="page-title" class="animated">work</h1>
	</section>
</Layout>

<script>
	import { inView, animate } from "motion";

	function setupAnimations() {
		inView("section", ({ target }) => {
			if (target.querySelector(".animated")) {
				animate(
					// @ts-ignore
					target.querySelector(".animated"),
					{ opacity: 1, transform: "none" },
					{
						delay: 0.2,
						duration: 0.8,
						easing: [0.17, 0.55, 0.55, 1],
					},
				);
			}
		});
	}

	// hook animations up to View Transitions via after-swap lifecycle hook
	document.addEventListener("astro:page-load", () => {
		setupAnimations();
	});

	setupAnimations();
</script>

<style>
	main.wrapper {
		margin-top: 26rem;
		@media (max-width: 850px) {
			margin-top: 6rem;
		}
		@media (max-width: 1450px) {
			margin-top: 18rem;
		}
	}
	main.wrapper.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2rem;

		@media (max-width: 850px) {
			grid-template-columns: 1fr;
		}
		section {
			grid-column: span 1;

			h3 {
				font-size: 1.3rem;
				margin-top: 1.2rem;
			}
		}
	}
	.background {
		opacity: 0.85;
		position: absolute;
		height: 200%;
		width: 100%;
		overflow: hidden;
		left: 0px;
		top: 0px;
		pointer-events: none;

		mask-image: radial-gradient(
			ellipse 270% 110% at 55% 108%,
			black 50%,
			transparent 110%
		);
		z-index: -1;

		@media (max-width: 850px) {
			left: 0px;
		}
	}
</style>
