---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import stefanImage from "../assets/stefan.jpg";
import cvImage from "../assets/cv.png";
import enkiLogo from "../assets/enki_logo.jpg";
import tailsLogo from "../assets/tails_logo.png";
import kclLogo from "../assets/kcl_logo.svg";
const pageTitle = "Résumé/CV";

const programmingLanguages = [
	{
		name: "TypeScript",
		icon: "skill-icons:typescript",
	},
	{
		name: "JavaScript",
		icon: "skill-icons:javascript",
	},
	{
		name: "Python",
		icon: "skill-icons:python-dark",
	},
	{
		name: "Scala",
		icon: "skill-icons:scala-dark",
	},
	{
		name: "Elixir",
		icon: "skill-icons:elixir-dark",
	},
	{
		name: "Java",
		icon: "skill-icons:java-dark",
	},
	{
		name: "Go",
		icon: "skill-icons:golang",
	},
	{
		name: "RegEx",
		icon: "skill-icons:regex-dark",
	},
	{
		name: "Ruby",
		icon: "skill-icons:ruby",
	},
];

const webTechnologies = [
	{
		name: "HTML",
		icon: "skill-icons:html",
	},
	{
		name: "CSS",
		icon: "skill-icons:css",
	},
	{
		name: "Tailwind",
		icon: "skill-icons:tailwindcss-dark",
	},
	{
		name: "Flask",
		icon: "skill-icons:flask-dark",
	},
	{
		name: "VueJS",
		icon: "skill-icons:vuejs-dark",
	},
	{
		name: "Vite",
		icon: "skill-icons:vite-dark",
	},
	{
		name: "NextJS",
		icon: "skill-icons:nextjs-dark",
	},
	{
		name: "React",
		icon: "skill-icons:react-dark",
	},
	{
		name: "Svelte",
		icon: "skill-icons:svelte",
	},
	{
		name: "Astro",
		icon: "skill-icons:astro",
	},
	{
		name: "FastAPI",
		icon: "skill-icons:fastapi",
	},
	{
		name: "Gatsby",
		icon: "skill-icons:gatsby",
	},
	{
		name: "NodeJS",
		icon: "skill-icons:nodejs-dark",
	},
	{
		name: "Nuxt",
		icon: "skill-icons:nuxtjs-dark",
	},
];

const devopsInfra = [
	{
		name: "Kubernetes",
		icon: "skill-icons:kubernetes",
	},
	{
		name: "Terraform",
		icon: "skill-icons:terraform-dark",
	},
	{
		name: "AWS",
		icon: "skill-icons:aws-dark",
	},
	{
		name: "Bash",
		icon: "skill-icons:bash-dark",
	},
	{
		name: "Docker",
		icon: "skill-icons:docker",
	},
	{
		name: "GH Actions",
		icon: "skill-icons:githubactions-dark",
	},
	{
		name: "git",
		icon: "skill-icons:git",
	},
];

const databases = [
	{
		name: "MySQL",
		icon: "skill-icons:mysql-dark",
	},
	{
		name: "PostgreSQL",
		icon: "skill-icons:postgresql-dark",
	},
	{
		name: "MongoDB",
		icon: "skill-icons:mongodb",
	},
	{
		name: "GraphQL",
		icon: "skill-icons:graphql-dark",
	},
	{
		name: "Supabase",
		icon: "skill-icons:supabase-dark",
	},
];

const testing = [
	{
		name: "Cypress",
		icon: "skill-icons:cypress-light",
	},
	{
		name: "Selenuim",
		icon: "skill-icons:selenium",
	},
	{
		name: "Vitest",
		icon: "skill-icons:vitest-dark",
	},
	{
		name: "Jest",
		icon: "skill-icons:jest",
	},
];
---

<Layout title={pageTitle}>
	<div>
		<Image
			src={stefanImage}
			alt="A picture of Stefan Nowak"
			class="full-bleed work-intro-image"
			onload="this.style.opacity=1; this.style.filter='saturate(1.05)'"
			quality="mid"
		/>
	</div>
	<section>
		<h1 id="page-title" class="animated">work</h1>
		<div class="cv-container">
			<Image
				src={cvImage}
				alt="A picture of my CV"
				class="cv-image"
				onload="this.style.opacity=1; this.style.filter='saturate(1.05)'"
				quality="low"
			/>
			<a
				href="https://docs.google.com/presentation/d/1MhmKj8wS_Q18ItPdRWYEBbGBefBPNjM1YtI5HjcE8sc/edit?usp=sharing"
			>
				view my CV here
			</a>
		</div>
	</section>
	<main class="wrapper grid">
		<section>
			<h2 class="animated">tl;dr</h2>
			<p>
				I enjoy learning, building cool things and working with nice
				people.
			</p>

			<h2>about me</h2>
			<p>Hi! I'm Stefan, a software engineer in {" "} London, UK. 🇬🇧</p>
			<p>
				I enjoy building things that make people's lives easier, more
				fun, or more interesting–to that end, I'm originally a backend
				developer, but I've transitioned into a more jack-of-all trades
				role as a full-stack engineer. I'm also interested in devops,
				security, SRE and infrastructure.
			</p>

			<h2>timeline</h2>
			<div class="timeline">
				<div class="timeline-entry">
					<h3>2019 - Present</h3>
					<p>
						<strong>Backend/Full-stack Software Engineer</strong> at{
							" "
						}
						<a href="https://www.astro.build">tails.com</a>
					</p>
					<p>
						Building the future of the web with a great team of
						people.
					</p>
				</div>
				<div class="timeline-entry">
					<h3>2017 - 2018</h3>
					<p>
						<strong>Freelancer</strong> at{" "}
						<a href="https://www.astro.build">Enki Labs. Inc.</a>
					</p>
					<p>
						Building the future of the web with a great team of
						people.
					</p>
				</div>
				<div class="timeline-entry">
					<h3>2015 - 2019</h3>
					<p>
						<strong>MSc.(i) Computer Science</strong> at{" "}
						<a href="https://www.astro.build"
							>King's College London, Department of Informatics
							(Bush House, Holborn)</a
						>
					</p>
					<p>
						A four-year integrated master's degree in computer
						science.
					</p>
				</div>
			</div>
		</section>
		<section>
			<h2 class="animated">skills</h2>
			<h3>Frontend development</h3>
			<p>HTML, CSS, JavaScript, React, Svelte, Angular, Vue.</p>
			<h3>DevOps and Infrastructure</h3>
			<p>Docker, Kubernetes, CI/CD, AWS, GCP, Azure, Vercel</p>
			<h3>Backend development</h3>
			<p>Python, Node.js, Express, MongoDB, PostgreSQL.</p>
			<h3>Databases</h3>
			<p>MySQL, MongoDB, PostgreSQL, Redis.</p>
			<h3>Familiarity with computer science concepts</h3>
			<p>
				data structures and algorithms, complexity analysis,
				cryptography, logic & formal systems, pattern recognition and ML
				& deep learning, formal grammars, natural language processing,
				automata, operating systems, distributed systems, multiagent
				systems, networking and internet systems, domain modelling,
				software architecture, computer architecture, design patterns,
				game theory, history of computing.
			</p>
			<h3>"Soft" skills</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
				enim ad minim veniam, quis nostrud exercitation ullamco laboris
				nisi ut aliquip ex ea commodo consequat.
			</p>
		</section>
		<section>
			<h2 class="animated">portfolio</h2>
			<h3>thing 1</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
				enim ad minim veniam, quis nostrud exercitation ullamco laboris
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
				in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<h3>thing 2</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
				enim ad minim veniam, quis nostrud exercitation ullamco laboris
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
				in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</section>
	</main>
</Layout>

<script>
	import { inView, animate } from "motion";

	function setupAnimations() {
		inView("section", ({ target }) => {
			if (target.querySelector(".animated")) {
				animate(
					// @ts-ignore
					target.querySelector(".animated"),
					{ opacity: 1, transform: "none" },
					{
						delay: 0.2,
						duration: 0.8,
						easing: [0.17, 0.55, 0.55, 1],
					},
				);
			}
		});
	}

	// hook animations up to View Transitions via after-swap lifecycle hook
	document.addEventListener("astro:page-load", () => {
		setupAnimations();
	});

	setupAnimations();
</script>

<style>
	.cv-container {
		display: flex;
		align-items: center;
		max-width: 750px;
		margin: auto;
		padding: 1.5rem;
		margin-top: 2.2rem;
		a {
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-ms-transition: all 1s ease;
			-o-transition: all 1s ease;

			background-color: #0037ff;
			color: white;
			padding: 0.8rem 1.8rem;
			border-radius: 12px;
			font-size: 1.44rem;
			text-decoration: none;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			margin: 0rem 1rem 0rem -3rem;
			box-shadow: 0 10px 22px 5px #00000073;
			z-index: 2;

			background-image: linear-gradient(
				to bottom right,
				#466eff,
				rgb(48, 20, 151)
			);
		}
		a:hover {
			filter: brightness(1.3);
		}
		.cv-image {
			max-width: 120px;
			height: auto;
			box-shadow: 0 10px 22px 5px #00000073;
			border-radius: 4px;
			transform: rotate(-2.2deg);
		}
	}
	main.wrapper {
		margin-top: 24rem;

		@media (max-width: 1050px) {
			margin-top: 6rem;
		}

		@media (max-width: 850px) {
			margin-top: 2rem;
		}
	}
	main.wrapper.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2rem;

		@media (max-width: 1150px) {
			grid-template-columns: 1fr;
		}
		section {
			grid-column: span 1;

			h2 {
				font-size: 2.2rem;
				margin-top: 2rem;
				margin-bottom: 1rem;
				font-weight: 600;
				color: #305dff;
			}

			h3 {
				font-size: 1.3rem;
				margin-top: 2rem;
				margin-bottom: 0.3rem;
				font-weight: 300;
				text-decoration: underline;
			}

			p {
				font-family: Inter, sans-serif;
				margin-top: 0.8rem;
			}

			border-left: 1px #dddddd;
			border-left-style: solid;
			padding-left: 40px;
			padding-top: 20px;

		.timeline {
			.timeline-entry {
				h3 {
					font-size: 0.96rem;
					margin-top: 0;
					margin-bottom: 0rem;
					font-weight: 600;
					color: #ffffff;
					text-decoration: none;
				}

				.details {
					margin-top: 1rem;

					p > a {
						font-size: 1.2rem;
						font-weight: 800;
					}

					strong {
						font-size: 1.42rem;
						font-weight: 600;
					}
				}

				.flex {
					align-items: center;
				}

				i {
					font-weight: 600;
					color: #afc0ff;
				}
			}
		}
	}
	html.dark > body > main.wrapper.grid > section {
		border-color: #6c6c6c;
	}
</style>
