<footer class="footer">
    <div id="footer-bg">
        <svg width="100%" height="100%">
            <pattern
                id="pattern-circles"
                x="0"
                y="0"
                width="40"
                height="40"
                patternUnits="userSpaceOnUse"
                patternContentUnits="userSpaceOnUse"
            >
                <circle
                    id="pattern-circle"
                    cx="26"
                    cy="26"
                    r="2.9257413380501518">
                </circle>
            </pattern>

            <rect
                id="rect"
                x="0"
                y="0"
                width="100%"
                height="100%"
                fill="url(#pattern-circles)"></rect>
        </svg>
    </div>
    <div class="footer-content">
        <a href="/" id="home-link">
            <img id="site-icon" src="/favicon.png" />
        </a>
        <h2 id="footer-title">steken.dev</h2>
        <p>built with <a href="https://astro.build/">Astro</a>.</p>
        <p>source on <a href="https://github.com/stefkn/astro-blog">GitHub</a>.</p>
        <p class="quote">“Once men turned their thinking over to machines in the hope that this would set them free. But that only permitted other men with machines to enslave them.”</p>
    </div>
</footer>

<style>
    footer {
        background-color: black;
        color: white;
        padding: 42px;
        height: 200px;
        margin-top: 6rem;

        a {
            width: 48px;
        }
    }
</style>
