<footer class="footer">
    <div id="footer-bg">
        <svg width="100%" height="100%">
            <pattern
                id="pattern-circles"
                x="0"
                y="0"
                width="20"
                height="20"
                patternUnits="userSpaceOnUse"
                patternContentUnits="userSpaceOnUse"
            >
                <circle
                    id="pattern-circle"
                    cx="10"
                    cy="10"
                    r="1.2257413380501518"
                >
                </circle>
            </pattern>

            <rect
                id="rect"
                x="0"
                y="0"
                width="100%"
                height="100%"
                fill="url(#pattern-circles)"></rect>
        </svg>
    </div>
    <div class="footer-content">
        <a href="/" id="home-link">
            <img id="site-icon" src="/favicon.png" />
        </a>
        <h2 id="footer-title">steken.dev</h2>
        <p>built with <a href="https://astro.build/">Astro 4.2.4</a>.</p>
        <p>
            source on <a href="https://github.com/stefkn/astro-blog">GitHub</a>.
        </p>
        <p class="quote">
            “Once men turned their thinking over to machines in the hope that
            this would set them free. But that only permitted other men with
            machines to enslave them.”
        </p>
    </div>
</footer>

<style>
    footer {
        width: 100%;
        min-height: 24rem;
        padding: 0px 50px;
        position: relative;
        margin-top: 6rem;

        @media (max-width: 630px) {
            padding: 0px 20px;
        }

        div.footer-content {
            position: relative;
            z-index: 2;
            letter-spacing: -0.2px;
            font-size: 18px;

            p {
                font-family: "Inter";
                margin-top: 0.6rem;
            }

            a {
                text-decoration: underline;
                color: #ff1eff;
            }

            h2#footer-title {
                letter-spacing: -2.2px;
                font-size: clamp(3.6rem, 5vw, 3.8rem);
            }

            #home-link {
                display: block;
                width: 4rem;
            }

            .quote {
                font-size: 14px;
                max-width: 14rem;
                font-family: Times New Roman;
                font-style: italic;
                text-align: right;
                position: absolute;
                right: 0px;
                opacity: 0.5;
            }
        }

        #site-icon {
            height: 4rem;
            filter: drop-shadow(7px 6px 21px #0019ff9e);
        }

        #site-icon:hover {
            transform: translateY(-6px);
            transition-property: transform;
            transition-duration: 0.1s;
            transition-timing-function: ease-in-out;
        }
    }

    html.dark > body > footer {
        background-color: #13151a;
    }
    html.dark > body > footer > #footer-bg {
        background: linear-gradient(#8a26ff, #0015ff, #13151a);
    }
    html.dark > body > footer > #footer-bg > svg > pattern > #pattern-circle {
        fill: #eec5ff;
    }

    #pattern-circle {
        fill: #757bff;
    }

    #footer-bg {
        background: linear-gradient(#d2acff, #c3c8ff, #fff9f5);
        width: 100%;
        height: 21rem;
        position: absolute;
        left: 0px;
        bottom: 0px;
        overflow: hidden;

        mask-image: radial-gradient(
            ellipse 90% 190% at 55% -50%,
            black 0%,
            transparent 81%
        );

        svg {
            left: 30%;
            position: relative;
            top: 30%;
        }
    }
</style>
