<footer class="footer">
    <div id="footer-bg">
        <svg class="dots" width="100%" height="100%">
            <pattern
                id="pattern-circles"
                x="0"
                y="0"
                width="20"
                height="20"
                patternUnits="userSpaceOnUse"
                patternContentUnits="userSpaceOnUse"
            >
                <circle
                    id="pattern-circle"
                    cx="10"
                    cy="10"
                    r="1.2257413380501518"
                >
                </circle>
            </pattern>

            <rect
                id="rect"
                x="0"
                y="0"
                width="100%"
                height="100%"
                fill="url(#pattern-circles)"></rect>
        </svg>
    </div>
    <div class="footer-content">
        <a href="/" id="home-link">
            <img id="site-icon" src="/favicon.png" />
        </a>
        <div class="flex">
            <h2 id="footer-title">steken.dev</h2>
            <a href="https://github.com/stefkn">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-github"
                    style="margin-left: 1rem;"
                    ><path
                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                    ></path></svg
                >
            </a>
        </div>
        <p class="footer-text">
            built with <a href="https://astro.build/">Astro 4.2.4</a>.
        </p>
        <p class="footer-text">
            source on <a href="https://github.com/stefkn/astro-blog">GitHub</a>.
        </p>
        <p class="footer-quote">
            “Once men turned their thinking over to machines in the hope that
            this would set them free. But that only permitted other men with
            machines to enslave them.”
        </p>
    </div>
</footer>

<style>
    footer:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;

        backdrop-filter: blur(22px);
        -webkit-backdrop-filter: blur(22px);
        border-radius: 1rem;
        z-index: -1;
    }
    footer {
        width: 100%;
        min-height: 24rem;
        padding: 26px 50px;
        position: relative;
        margin-top: 6rem;
        border-top: 1px solid #dddddd;

        @media (max-width: 630px) {
            padding: 20px 20px;
        }
    }

    #site-icon {
        height: 4rem;
        filter: drop-shadow(7px 6px 21px #0019ff9e);
        position: absolute;
        top: -5rem;
    }

    #site-icon:hover {
        transform: translateY(-6px);
        transition-property: transform;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
    }

    .footer-content {
        position: relative;
        z-index: 2;

        max-width: 700px;
        margin: auto;
        margin-top: 1em;
    }
    h2#footer-title {
        letter-spacing: -2.2px;
        font-size: clamp(3.6rem, 5vw, 3.8rem);
    }
    #home-link {
        display: block;
        width: 4rem;
    }
    .footer-text {
        letter-spacing: -0.2px;
        font-size: 18px;
        margin-top: 0.6rem;
    }
    a.footer-text {
        text-decoration: underline;
        color: #5361ff;
    }
    .footer-quote {
        font-size: 14px;
        max-width: 14rem;
        font-style: italic;
        text-align: right;
        position: absolute;
        right: 0px;
        opacity: 0.5;
    }

    html.dark > body > footer {
        background-color: #00000000;
        border-color: #6c6c6c;
    }
    html.dark > body > footer > #footer-bg {
    }
    html.dark > body > footer > #footer-bg > svg > pattern > #pattern-circle {
        fill: #6c6c6c;
    }

    #pattern-circle {
        fill: #757bff;
    }

    #footer-bg {
        width: 100%;
        height: 21rem;
        position: absolute;
        left: 0px;
        bottom: 0px;
        overflow: hidden;
        z-index: -1;
    }
    svg.dots {
        left: 30%;
        position: relative;
        top: 30%;
        mask-image: radial-gradient(
            ellipse 60% 170% at 55% -50%,
            black 0%,
            transparent 81%
        );
    }
</style>
