
<div id="nav-menu-overlay" class="overlay hidden">
    <a href="/posts">Posts</a>
    <a href="/cv">CV</a>
    <a href="/links">Links</a>
</div>
<div id="behind-overlay" class="behind-overlay"></div>
<button id="nav-menu" aria-label="Open navigation menu">
    <svg
        id="navmenu-svg"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-menu"
        ><line x1="3" y1="12" x2="21" y2="12"></line><line
            x1="3"
            y1="6"
            x2="21"
            y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg
    >
</button>
<button id="nav-menu-fixed" aria-label="Open navigation menu">
    <svg
        id="navmenu-svg"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-menu"
        ><line x1="3" y1="12" x2="21" y2="12"></line><line
            x1="3"
            y1="6"
            x2="21"
            y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg
    >
</button>

<style>
    #nav-menu-overlay {
        padding-top: 8rem;
    }
    #nav-menu-overlay>a {
        font-size: clamp(4rem, 5vw, 6rem);
        font-weight: 500;
        line-height: 1;
        text-align: left;
        margin: 3.2rem 0rem;
        font-family: "Inter";
        letter-spacing: -1.22px;
        -webkit-font-smoothing: antialiased;
        display: block;
        color: #0016ff;
    }
    #nav-menu-overlay>a:hover {
        color: #4050ff;
    }
    #nav-menu {
        display: flex;
        border: none;
        background: none;
        justify-content: center;
        align-items: center;
        height: 2rem;
        margin: 5px 1.5rem 0px 73px;
        cursor: pointer;

        svg {
            z-index: 4;
            width: 1.5rem;
            height: 1.5rem;
            opacity: 0;
        }
    }
    #nav-menu-fixed {
        display: flex;
        border: none;
        background: none;
        justify-content: center;
        align-items: center;
        opacity: 0;
        height: 2rem;
        margin: 5px 0.5rem 50px 8px;
        position: fixed;
        background: #0016ff;
        padding: 20px 8px;
        z-index: 4;
        bottom: 10px;
        left: 1rem;
        cursor: pointer;

        svg {
            z-index: 4;
            width: 1.5rem;
            height: 1.5rem;
        }

        @media (min-width: 630px) {
            bottom: auto;
            left: 16px;
            top: 80px;
        }
    }
    .overlay {
        width: 26vw;
        @media (max-width: 1300px) {
            width: 60vw;
        }
        @media (max-width: 630px) {
            width: 70vw;
        }
        top: 0px;
        left: 0px;
        padding: 4rem 1.4rem;
        height: 120vh;
        z-index: 3;
        position: fixed;
        opacity: 0;
        border: solid 1px #c7cbd6;
        transform: translateX(-60px);
        background: linear-gradient(
                18.48deg,
                rgb(151 183 255 / 55%) 2.76%,
                rgb(175 175 255 / 0%) 17.23%
            ),
            linear-gradient(
                200.6deg,
                rgb(191 198 255 / 29%) 4.13%,
                rgb(185 198 255 / 5%) 26.54%
            );
    }
    .behind-overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
</style>

<script>
    import { inView, animate } from "motion";

    const hiddenState = {
        opacity: 0,
        transform: "translateX(-60px)",
        backdropFilter: "blur(0px) brightness(1)",
    };
    const displayStateDark = {
        opacity: 1,
        transform: "none",
        backdropFilter: "blur(16px) brightness(0.56)",
    };
    const displayStateLight = {
        opacity: 1,
        transform: "none",
        backdropFilter: "blur(16px) brightness(0.98)",
    };
    const durationOptions = {
        delay: 0,
        duration: 0.3,
        easing: [0.17, 0.55, 0.55, 1],
    };

    function setUpAnimationsAndHandlers() {
        let currentlyOpen = false;
        const menuOverlay = document.getElementById("nav-menu-overlay");
        const behindOverlay = document.getElementById("behind-overlay");

        function closeMenuOverlay() {
            animate(
                // @ts-ignore
                menuOverlay,
                hiddenState,
                durationOptions,
            ).finished.then(() => {
                menuOverlay!.classList.add("hidden");
                currentlyOpen = false;
                behindOverlay!.classList.add("hidden");
            });
        }

        function openMenuOverlay(theme: string = 'light') {
            animate(
                // @ts-ignore
                menuOverlay,
                theme === 'light' ? displayStateLight : displayStateDark,
                durationOptions,
            ).finished.then(() => {
                currentlyOpen = true;
                behindOverlay!.classList.remove("hidden");
            });
        }

        const handleToggleNavClick = () => {
            const isDarkMode = document.documentElement.classList.contains("dark");
            if (currentlyOpen) {
                closeMenuOverlay();
                return;
            }
            menuOverlay!.classList.remove("hidden");
            if (isDarkMode) {
                openMenuOverlay('dark');
                return;
            }
            openMenuOverlay();
        };

        // close nav menu on background click using hidden div
        behindOverlay!.classList.add("hidden");
        behindOverlay?.addEventListener("click", (event) => {
            event.stopPropagation()
            if (currentlyOpen) {
                closeMenuOverlay();
            }
        });
    
        document
            .getElementById("nav-menu")
            ?.addEventListener("click", handleToggleNavClick);
        document
            .getElementById("nav-menu-fixed")
            ?.addEventListener("click", handleToggleNavClick);
    
        inView("#nav-menu", ({ target }) => {
            // top nav icon has scrolled into view, hide the bottom nav icon
            animate(
                // @ts-ignore
                target.querySelector("svg"),
                { opacity: 1, transform: "none" },
                durationOptions,
            );
            animate(
                // @ts-ignore
                document.querySelector("#nav-menu-fixed"),
                { opacity: 0, transform: "translateY(-30px)" },
                durationOptions,
            ).finished.then(() => {
                document.querySelector("#nav-menu-fixed")?.classList.add("hidden");
            });
            return (leaveInfo) => {
                document.querySelector("#nav-menu-fixed")?.classList.remove("hidden");
                // top nav icon has scrolled out of view, show the bottom nav icon
                animate(
                    // @ts-ignore
                    document.querySelector("#nav-menu-fixed"),
                    { opacity: 1, transform: "none" },
                    durationOptions,
                );
            };
        });
    }

    document.addEventListener("astro:page-load", () => {
		setUpAnimationsAndHandlers();
	});

    setUpAnimationsAndHandlers();
</script>
