---
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

const { headings } = Astro.props;
const toc = buildToc(headings);

function buildToc(headings: any) {
  const toc: any = [];
  const parentHeadings = new Map();
  headings.forEach((h: any) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    if (heading.depth === 2) {
      toc.push(heading);
    } else {
      parentHeadings.get(heading.depth - 1).subheadings.push(heading);
    }
  });
  return toc;
}
---

<nav class="toc">
  <ul>
    {toc.map((heading: any) => <TableOfContentsHeading heading={heading} />)}
  </ul>
  <svg class="toc-progress" xmlns="http://www.w3.org/2000/svg">
    <path
      class="toc-marker"
      fill="none"
      stroke="#ff27a7"
      stroke-width="4"
      stroke-dashoffset="1"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</nav>

<style>
  .toc {
    font-family: monospace;
    margin: 2rem 1rem 1rem 0rem;
    font-size: 14px;
    li > a {
      font-weight: bold;
    }
    ul {
      a:-webkit-any-link {
        color: blue;
      }
      list-style: none;
      margin: 0;
      padding: 0;
      display: grid;
      gap: 0.75rem;
      padding-left: 0.75rem;
    }
    li {
      gap: 0.75rem;
      display: grid;
    }
  }
  .toc-progress {
    position: absolute;
    top: -5px;
    left: -10px;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  path.toc-marker {
    transition: stroke-dasharray 0.3s ease;
    pointer-events: none;
  }
</style>

<script>
  // thanks to https://kld.dev/toc-animation/ for this code!

  document.addEventListener("astro:page-load", () => {
    const linkStarts = new WeakMap();
    const linkEnds = new WeakMap();

    function drawPath() {
      const path = document.querySelector("path.toc-marker") as SVGPathElement;
      const links = Array.from(document.querySelectorAll("nav.toc a"));
      if (!links.length) return;

      const pathData: string[] = [];
      let left = 10;
      links.forEach((link, i) => {
        const x = (link as HTMLElement).offsetLeft;
        const y = (link as HTMLElement).offsetTop;
        const height = (link as HTMLElement).offsetHeight;

        if (i === 0) {
          linkStarts.set(link, 0);
          pathData.push(
            "M",
            String(x),
            String(y),
            "L",
            String(x),
            String(y + height),
          );
        } else {
          if (left !== x) {
            pathData.push("L", String(left), String(y));
          }
          pathData.push("L", String(x), String(y));

          if (path) {
            path.setAttribute("d", pathData.join(" "));
          }

          linkStarts.set(link, path.getTotalLength());
          pathData.push("L", String(x), String(y + height));
        }

        left = x;
        path!.setAttribute("d", pathData.join(" "));
        linkEnds.set(link, path!.getTotalLength());
      });
    }

    function addIntersectionObserver() {
      function updatePath() {
        if (!document.querySelector("path.toc-marker")) {
          return;
        }
        const path = document.querySelector("path.toc-marker") as SVGPathElement;;
        const pathLength = path!.getTotalLength();
        let activeLinks = document.querySelectorAll("a.active");
        let linkStart = pathLength;
        let linkEnd = 0;

        activeLinks = document.querySelectorAll("a.active");

        activeLinks.forEach((link) => {
          linkStart = Math.min(linkStart, linkStarts.get(link));
          linkEnd = Math.max(linkEnd, linkEnds.get(link));
        });

        path!.style.display = activeLinks.length ? "inline" : "none";

        path!.setAttribute(
          "stroke-dasharray",
          `1 ${linkStart} ${linkEnd - linkStart} ${pathLength}`,
        );
      }

      function addResizeObserver() {
        if (!document.querySelector("nav.toc")) return;
        const observer = new ResizeObserver(() => {
          drawPath();
          updatePath();
        });
        observer.observe(document.querySelector("nav.toc")!);
      }

      const observer = new IntersectionObserver((observerInteractions) => {
        observerInteractions.forEach((interaction) => {
          if (!document.querySelector("path.toc-marker")) return;
          const heading = interaction.target;
          if (!heading) return;
          const id = heading.getAttribute("id");
          const link = document.querySelector(`nav.toc li a[href="#${id}"]`);
          if (!link) return;
          const addRemove = interaction.intersectionRatio > 0 ? "add" : "remove";
          const onlyOneActive = document.querySelectorAll("a.active").length === 1;

          if (addRemove === "remove" && onlyOneActive) {
            document.querySelectorAll("a.active")[0].classList.remove("active");
            return
          }
          
          link.classList[addRemove]("active");
          updatePath();
        });
      });

      addResizeObserver();

      document
        .querySelectorAll(
          "#main-wrapper>h2,#main-wrapper>h3,#main-wrapper>h4,#main-wrapper>h5",
        )
        .forEach((section) => {
          observer.observe(section);
        });
    }

    drawPath();
    addIntersectionObserver();
  });
</script>
