---
const { heading } = Astro.props;
---

<li>
  <a href={"#" + heading.slug} onclick={"window.lenis.scrollTo(" + "'#" + heading.slug + "')"}>
    {heading.text}
  </a>
  {
    heading.subheadings?.length > 0 && (
      <ul>
        {heading.subheadings.map((subheading: string) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>

<style>
  ul, li {
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    padding: 0;
    gap: 0.3rem;
  }
  ul {
    list-style: none;
    list-style-type: none;
    display: grid;
    padding-left: 1.2rem;
  }
  li {
    display: grid;
    a {
      font-weight: bold;
    }
  }
</style>
